/* style.css
 * This file provides css styles.
 */
.jumbotron { 
	background-image:url('http://media1.fdncms.com/arktimes/imager/u/original/4280980/bernie_sanders_by_gage_skidmore.jpg');
    color: #ffffff;
    
    max-width: 100%;
    max-height: 100%;
   	background-repeat: no-repeat;
 	background-size: cover;
 	min-height: 100vh;
}
.jumbotron .container {
	text-align: center; 
	margin-top: 7%;
}

.container-fluid {
    padding: 60px 50px;
}

.bg-grey {
    background-color: #f6f6f6;
}
.logo {
    font-size: 200px;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.logo-small {
    color: #3498db;
    font-size: 50px;
}

.logo {
    color: #f4511e;
    font-size: 200px;
}

.panel {
    border: 1px solid #3498db; 
    border-radius:0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #3498db;
    background-color: #fff;
    color: #3498db;
}

.panel-heading {
    color: #fff;
    background-color: #3498db;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.panel-footer {
    background-color: #fff;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    font-size: 18px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #3498db;
    color: #fff;
}